<div id="itemCalendar" class="row text-center mt-4 justify-content-center">
    <h3 class="overflow-hidden"> Item Reservation Calendar </h3>
    <div class="row mt-4 mb-2">
        <div class="col mb-2"></div>
        <div class="col hour mb-2"> 9-10 </div>
        <div class="col hour mb-2"> 10-11 </div>
        <div class="col hour mb-2"> 11-12 </div>
        <div class="col hour mb-2"> 12-13 </div>
        <div class="col hour mb-2"> 13-14 </div>
        <div class="col hour mb-2"> 14-15 </div>
        <div class="col hour mb-2"> 15-16 </div>
        <div class="col hour mb-2"> 16-17 </div>
        <div class="col hour mb-2"> 17-18 </div>
    </div>
    <div class="row" id="Monday">
        <div class="col day mb-2"> Mon </div>
        <div class="col h9 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h10 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h11 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h12 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h13 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h14 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h15 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h16 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h17 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
    </div>
    <div class="row" id="Tuesday">
        <div class="col day mb-2"> Tue </div>
        <div class="col h9 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h10 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h11 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h12 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h13 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h14 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h15 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h16 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h17 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
    </div>
    <div class="row" id="Wednesday">
        <div class="col day mb-2"> Wed </div>
        <div class="col h9 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h10 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h11 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h12 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h13 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h14 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h15 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h16 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h17 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
    </div>
    <div class="row" id="Thursday">
        <div class="col day mb-2"> Thu </div>
        <div class="col h9 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h10 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h11 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h12 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h13 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h14 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h15 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h16 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h17 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
    </div>
    <div class="row" id="Friday">
        <div class="col day mb-2"> Fri </div>
        <div class="col h9 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h10 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h11 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h12 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h13 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h14 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h15 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h16 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
        <div class="col h17 mb-2"> <button class="btn btn-primary btn-md mb-2 reserv-btn"></button> </div>
    </div>
</div>