<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-center">
    <div class="px-4 rounded-pill items-container d-flex justify-content-center shadow">
        <a class="navbar-brand title d-flex align-items-center" role="button" RouterLink="/Course">
            <i class="bi bi-book-half fs-3"></i>
        </a>
        <ul class="navbar-nav" id="menu-links">
            @for(feature of features; track feature){
            <li class="nav-item d-flex align-items-center">
                <a [class]="linkClasses[$index]" role="button" aria-current="page" routerLink="{{feature[1]}}"
                    (click)="navigationSelected($index)">{{ feature[0] }}</a>
            </li>
            }
            <li *ngIf="(isLabAdmin$ | async)" class="nav-item d-flex align-items-center">
                <a [class]="administratorLinkClasses" role="button" routerLink="./Administrator"
                    (click)="navigationSelected(-1)">Administration</a>
            </li>
        </ul>
    </div>
</nav>